@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body{
    border: 0;
    margin: 0;
    
    /* box-sizing: border-box; */
    font-family: "Work Sans", sans-serif;
   
}
*{
    /* border: 2px solid red; */
}

button{
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    color: #fff;
    background-color: rgb(255, 144, 14);
    margin-bottom: 50px;
}

:root{
    --dark2: #424242;
    --dark3: #727272;
}

/* header */

header{
    
    background-color: rgba(255, 144, 14, 0.1);
    }




/* navigation-section */
.nav-section{
  max-width: 1040px;
     margin: 0 auto;
     /* border: 2px solid red; */
     
}
.navigation-var{
    display: flex;
    justify-content: space-between;
   
}
.navigation-var ul{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    
    /* border: 1px solid green; */
   
}
.navigation-var ul li{
    list-style: none;
     margin-right:30px ;
     align-items: center;
     
}
.navigation-var ul li a{
    text-decoration: none;
    color: #424242;
    /* color: (dark2); */
}

.brand-name{
    font-size: 3rem;
    font-weight: 700px;
}

/* .nav-section , .banner-section{
    max-width: 1040px;
    margin: 0 auto;
} */


/* banner-section */

.banner-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1040px;
       /* height: 700px; */
       margin: 0 auto;
    
}

.banner-section .banner-container{
   display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.banner-section .banner-text{
 max-width: 862px;

 /* height: 255px; */
}

.banner-section .banner-container .banner-text h1{
    font-size: 4rem;
    font-weight: 700px;
}
.banner-section .banner-container .banner-text p{
    color: #727272;
}

.banner-section .banner-container .banner-text button{
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    color: #fff;
    background-color: rgb(255, 144, 14);
    margin-bottom: 50px;
}
.banner-section img{
    width: 100%;
    margin-bottom: 50px; 
}

/* Main */
main{
    max-width: 1040px;
    margin: 0 auto;
    /* visibility: hidden; */
}
main>section{
    margin-top: 130px ;
}


/* feature-section */

.feature-section {
    display: flex;
    gap: 30px;
    align-items: center;
    
}
.feature-section .feature-text{

    max-width: 530px;
    margin-left: 50px;
   
}

.feature-section .feature-text p{
    color: #727272;
}

.feature-section .feature-images{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 24px;
   
}
.feature-section .feature-images img{
    width: 100%;
}


/* feature-enjoy-section */

/* .feature-enjoy-section{
    visibility: hidden;
} */

.feature-enjoy-container .feature-enjoy-img{
    width: 50%;
}
.feature-enjoy-container{
    display: flex;
}

.feature{
    display: flex;
    flex-direction: column;
}




/* Responsive-section */

@media screen and (max-width:570px){
    .navigation-var,.navigation-var ul , .feature-section{
        flex-direction: column;
    }
    .navigation-var{
        align-items: center;
    }
    .navigation-var ul{
        gap: 1.5rem;
    }
    .feature-section .feature-images{
        grid-template-columns: repeat(1 , 1fr);
      gap: 24px;
      
    }
    .feature-section .feature-text{
        text-align:  center;
    }

}