@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body{
    border: 0;
    margin: 0;
    
    /* box-sizing: border-box; */
    font-family: "Work Sans", sans-serif;
   
}
*{
    /* border: 2px solid red; */
}

button{
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    color: #fff;
    background-color: rgb(255, 144, 14);
    margin-bottom: 50px;
}

:root{
    --dark2: #424242;
    --dark3: #727272;
}

/* header */

header{
    
    background-color: rgba(255, 144, 14, 0.1);
    }




/* navigation-section */
.nav-section{
  max-width: 1040px;
     margin: 0 auto;
     
}
.navigation-var{
    display: flex;
    justify-content: space-between;
   
}
.navigation-var ul{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    
    /* border: 1px solid green; */
   
}
.navigation-var ul li{
    list-style: none;
     margin-right:30px ;
     align-items: center;
     
}
.navigation-var ul li a{
    text-decoration: none;
    color: #424242;
    /* color: (dark2); */
}

.brand-name{
    font-size: 3rem;
    font-weight: 700px;
}




/* banner-section */

.banner-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1040px;
       /* height: 700px; */
       margin: 0 auto;
    
}

.banner-section .banner-container{
   display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.banner-section .banner-text{
 max-width: 862px;

 /* height: 255px; */
}

.banner-section .banner-container .banner-text h1{
    font-size: 4rem;
    font-weight: 700px;
}
.banner-section .banner-container .banner-text p{
    color: #727272;
}

.banner-section .banner-container .banner-text button{
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    color: #fff;
    background-color: rgb(255, 144, 14);
    margin-bottom: 50px;
}
.banner-section img{
    width: 100%;
    margin-bottom: 50px; 
}

/* Main */
main{
    max-width: 1040px;
    margin: 0 auto;
    /* visibility: hidden; */
}
main>section{
    margin-top: 130px ;
}


/* feature-section */

.feature-section {
    display: flex;
    gap: 30px;
    align-items: center;
    
}
.feature-section .feature-text{

    max-width: 530px;
    margin-left: 50px;
   
}

.feature-section .feature-text p{
    color: #727272;
}

.feature-section .feature-images{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 24px;
   
}
.feature-section .feature-images img{
    width: 100%;
}


/* feature-enjoy-section */


.feature-enjoy-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.feature-enjoy-img>button {
    margin-left: -30px;
    margin-top: -180px;
   
}
.feature-enjoy-img {
    
    /* width: 100%; */

}

.feature-enjoy-img img{
    width: 100%;
}
.feature-enjoy-section .heading h2{
    border-left: 5px solid #FF900E ;
    padding-left: 21px;
    font-size: 3rem;
    font-weight: 700px;
}

.feature-enjoy-section .feature-enjoy-text-card h4{
    margin-top: 0;
    margin-bottom: 0;
}
.feature-enjoy-section .feature-enjoy-text-card{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px ;
    padding: 20px;
    
}


/* some-fact-section */

.some-fact-section .some-fact-cards {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 35px;
}
.some-fact-section h3 {
    font-size: 3rem;
    font-weight: 700px;
    margin-bottom: 10px;
}
.some-fact-section p{
    color: #727272;
}
.some-fact-section .some-fact-cards .card{
    width: 242px;
    height: 200px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px 35px 15px 35px;
    box-sizing: border-box;
    text-align: center;
    
    
}


/* sponspors-section */

.sponspors-section .sponspors-text p{
    color: #727272;
    margin-bottom:50px ;
}
.sponspors-section .sponspors-text h4{
    font-size: 3rem;
    font-weight: 700px;
    margin-bottom: 10px;
}
.sponspors-section .sponspors-text{
    text-align: center;
}
.sponspors-section .sponspors-imges{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 60px;
   
}

.sponspors-section .sponspors-imges img{
    filter: grayscale(100%);
}

/* footer-section */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 144, 14, 0.1);
   max-width: 1040px;
   height: 60px;
   margin: auto;
   margin-top: 80px;
   margin-bottom: 50px;
}




/* Responsive-section */

@media screen and (max-width:570px){
    .navigation-var,.navigation-var ul , .feature-section , .some-fact-section .some-fact-cards ,.some-fact-section .some-fact-cards ,
    .sponspors-section .sponspors-imges,
    .feature-enjoy-section
    {
        flex-direction: column;
    }
    .navigation-var{
        align-items: center;
    }
    .navigation-var ul{
        gap: 1.5rem;
    }
    .feature-section .feature-images ,.some-fact-section .some-fact-cards, .some-fact-section .some-fact-cards ,
    .sponspors-section .sponspors-imges,
    .feature-enjoy-section
    {
        grid-template-columns: repeat(1 , 1fr);
      gap: 24px;
      
    }
    .feature-section .feature-text{
        text-align:  center;
    }
    .some-fact-section .some-fact-cards{
       display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        
    }
    .sponspors-section .sponspors-imges {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .feature-enjoy-img>button {
        margin-top: 10px;
    margin-left: 48%;
   
}
    

}